rect {
  fill: blue;
  stroke: black; 
  stroke-width: 3;
}

.red, .yellow, .green {
  stroke: black;
  stroke-width: 2px;
}

.red {
  fill:lightpink;
}

.red:hover {
  fill:red;
}

.yellow {
  fill:lightyellow;
}

.yellow:hover {
  fill:yellow;
}

.green {
  fill:lightgreen;
}

.green:hover {
  fill:green;
}
